<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-2 col-lg-2>
        <div class="app-logo-container" routerLink="/blog" routerLinkActive="active">
          <div class="app-logo"></div>
          <h1 class="app-name" translate>APP_NAME</h1>
        </div>
      </ion-col>
      <ion-col class="app-tag-line" col-0 col-md-8 col-lg-8>
        <p>Sugar Free - Glutten Free - Best Recipes Ever!</p>
      </ion-col>
      <ion-col col-6 col-md-2 col-lg-2 class="app-menu">
        <a class="writer-button" routerLink="/login" routerLinkActive="active">I am a writer</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
