@import "../../theme/theme-variables";

.tag-list{
  text-align: center;
  width: 600px;
  display: table;
  margin: 0 auto;
  margin-top: 30px;
  ion-badge { padding: 5px; margin: 5px; }
  @media screen and (max-width: $lg-width) {
    width: 300px;
  }
}

.top-button {
  position: relative;
  font-family: 'Lobster', cursive;
  text-align: right;
  font-size: 18px;
  right: 70px;
  top: -25px;
}

.authors {
  padding-left: 50px;
  padding-right: 50px;
  @media screen and (max-width: $lg-width) {
    padding-left: 0px;
    padding-right: 0px;
  }

  .last-article {
    padding-bottom: 5px;
    h3 {
      font-size: 13px;
    }
    p {
      font-family: 'Lobster', cursive;
      font-size: 13px;
    }
  }

  ion-thumbnail {
    width: 30px;
  }
}

.advs {
  padding: 10px;
  height: 680px;
  @media screen and (max-width: $lg-width) {
    height: 500px;
  }
}

.recipe-cards {
  padding: 50px;
  padding-top: 0px;
  @media screen and (max-width: $lg-width) {
    padding: 0px;
  }
}
.recipe-card {
  max-width: 350px;
  height: 98%;
}

.card-title {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  padding: 10px;
  padding-bottom: 60px;
}

.card-link {
  position: absolute;
  font-size: 12px;
  padding: 10px;
  bottom: 10px;
  right: 30px;
  @media screen and (max-width: $lg-width) {
    right: 20px;
  }

}

.banner-container { height: 90%; }
.banners { padding: 15px; }
.banner {
  background-size: contain;
}

ion-content {
  margin-top: 110px;
  -webkit-transition-property: margin-top;
  -webkit-transition-duration: 0.5s;
}

.item-select .label-md {
  color: color-contrast($colors, primary);
}

// Force style down to child components
// See https://angular.io/guide/component-styles#deep
// stylelint-disable-next-line selector-max-compound-selectors, selector-pseudo-element-no-unknown
:host ::ng-deep .select-icon .select-icon-inner {
  color: color-contrast($colors, primary);
}

.blog-container {
  background: $background-color;

  .item {
    @include padding-horizontal($content-margin, $content-margin);
  }
}

.list > .item-block:first-child {
  border-top: none;
}

.slides-card {
  margin-left: 70px;
  width: calc(100% - 140px);
  @media screen and (max-width: $lg-width) {
    margin-left: 20px;
    width: calc(100% - 40px);
  }

}

.last-content {
  margin-bottom: 150px;
}

.hash-tag {
  margin-left: 70px;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  @media screen and (max-width: $lg-width) {
    margin-left: 20px;
  }
}
