<ion-split-pane>
  <ion-menu [content]="content">
    <ion-content>
      <div ion-fixed>
        <div class="profile" text-center padding>
          <div class="profile-icon">
            <ion-thumbnail>
              <img src="{{user.picture}}">
            </ion-thumbnail>
          </div>
          <div>
            <button class="profile-button" ion-button color="light" (click)="showProfileActions()"
                    round outline small icon-start>
              <ion-icon name="person"></ion-icon> {{user.email}}
            </button>
          </div>
        </div>
        <ion-list>
          <button menuClose ion-item routerLink="/home" routerLinkActive="active">
            <span translate>Dashboard</span>
          </button>
          <button menuClose ion-item routerLink="/about" routerLinkActive="active">
            <span translate>Profile</span>
          </button>
          <button menuClose ion-item routerLink="/recipes" routerLinkActive="active">
            <span translate>Recipes</span>
          </button>
          <button *ngIf="user.role === 'admin'" menuClose ion-item routerLink="/authors" routerLinkActive="active">
            <span translate>Authors</span>
          </button>
        </ion-list>
      </div>
    </ion-content>
  </ion-menu>
  <ion-nav main [root]="navRoot" #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
